version: '3'

services:
  # PHP Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MY_UID: 1000
        MY_GID: 1000
        DOCKER_INTERFACE_IP: host.docker.internal
    container_name: symfony_app
    user: application
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      - DATABASE_URL=mysql://root:root@database:3306/app

    depends_on:
      - database
    ports:
      - "8000:8000"
    command:
      - gosu
      - application
      - /bin/bash
      - -c
      - |
        id -u 
        php bin/console doctrine:database:drop --if-exists --force 
        php bin/console doctrine:database:create --if-not-exists 
        php bin/console doctrine:migrations:migrate -n  
        composer install
        symfony server:start --allow-http --port=8000
  # MySQL Service
  database:
    image: mysql:8.0
    container_name: symfony_database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
    volumes:
      - db_data:/var/lib/mysql
###< doctrine/doctrine-bundle ###

volumes:
  db_data:

